.Rproj.user
.Rhistory
.RData
.Ruserdata
.ERR1539001.fastq
.ERR1539001.fastq.gz
.ERR1539001_75filtered.fastq
.Qfiltered3.fastq
.ERR11203340_1.fastq.gz
.ERR11203340_2.fastq.gz
.ERR11203340_1_trimmed.fastq.gz